# Template for ".env" file

# Create ".env.local" file in root directory
# Copy the content on this file and paste it on ".env.local" file
# Replace with needed variables

NODE_ENV=development
PORT=3000
INFURA_PROJECT_ID=
ALCHEMY_KEY=
