# Template for ".env" file

# Create ".env.local" file in root directory
# Copy the content on this file and paste it on ".env.local" file
# Replace with needed variables

NODE_ENV=development
PORT=3000
INFURA_PROJECT_ID=
ALCHEMY_KEY=
REACT_APP_ALCHEMY_KEY=
FANTOM_NODE=
REACT_APP_FANTOM_NODE=
REACT_APP_THE_GRAPH_API_KEY=
THE_GRAPH_API_KEY=

#FB VARS
REACT_APP_FB_API_KEY=
REACT_APP_FB_AUTH_DOMAIN=
REACT_APP_FB_PROJECT_ID=

#RISK API
RISK_GH_URL=https://raw.githubusercontent.com/yearn/yearn-data-analytics/master/src/risk_framework/risks.json
RISK_API_URL=https://d3971bp2359cnv.cloudfront.net/api/riskgroups/