body {
    font-family: roboto;
   
    background-image: url(./images/backgroung_yearn_watch.svg);
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;

  
}
