body {
    /* margin: 0;
 font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

    background: rgb(1, 201, 147) no-repeat;
    background: linear-gradient(
            0deg,
            rgba(1, 201, 147, 1) 0%,
            rgba(25, 68, 105, 1) 48%,
            rgba(31, 37, 95, 1) 100%
        )
        fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
